
<!--------->
.top-widget {
    padding: 20px 0 0px 0;
    background: #ddd;
}
.stat-box {
    box-shadow: 1px 1px 5px #0000005c;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.stat-box .stat-value {
    color:#FF6;
    font-size: 40px;
    font-weight: bold;
}
.stat-box .stat-title {
    color:#33C;
    font-size: 16px;
    text-align: right;
    font-weight: bold;
}
.stat-box .icon {
    top: 7px;
    font-size: 80px;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: 10px;
    right: 60px;
    z-index: 0;
    font-size: 130px;
    color: rgba(0,0,0,0.15);
}


<!--------->



<!-------------------------------->
.nik-finder {
    background: #eff2f8;
    padding: 50px 0 20px 0;
}
.nik-finder .caps-cari-nik {
    font-size: 20px;
    font-weight: bold;
    color: #3498db;
    text-align: center;
}
.nik-finder .field-cari-nik {   
    padding-top: 15px;
}
.input-group .cari-nik {
    padding: 18px 18px 17px 18px;
    border-radius: 30px;
    text-align: center;
    font-size: 18px;
    color: #ccc;
}
.btn-cari-nik {
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    border: 0;
    font-size: 16px;
    padding: 0 20px;
    background: #18bc3d;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    z-index: 999;
}
.modal-title-non-nik {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: red;
}
.non-nik  {
    font-size: 14px;
    font-weight: bold;
}
.modal-title-nik {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: green;
}
.nik-ada  {
    font-size: 14px;
    font-weight: bold;
}

<!------------------->


